@import "fonts";
@import "colors";

.container1{
    width: 100%;
    display: flex;
    justify-content: space-between;

    .text{
        width: 48%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}