@import "fonts";
@import "colors";

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.text_left {
    width: 635px;

    h1,
    h2 {
        font-family: $mainFont ;
        color: $black ;
    }

    h2 {
        color: $blue ;
        font-weight: bold;
        font-size: 22pt;
        position: relative;
        bottom: 32px;
    }



    h1 {
        font-size: 40pt;
        font-weight: bold;

        .blue {
            color: $blue ;
        }
    }
}




p {
    font-family: $mainFont ;
    color: $black ;
    font-size: 18pt;
}

.italic {
    font-style: italic;
}