.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container1 .text {
  max-width: 60%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container1 .table {
  width: 30%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[6];
  grid-template-rows: repeat(6, 1fr);
  border-bottom: 1px solid #D8D8D8;
}
.container1 .table > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.container1 .table > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.container1 .table > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.container1 .table > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.container1 .table > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.container1 .table > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.container1 .table > *:nth-child(7) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.container1 .table > *:nth-child(8) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.container1 .table > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.container1 .table > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.container1 .table > *:nth-child(11) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
.container1 .table > *:nth-child(12) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
.container1 .table .one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .three {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .four {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .five {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .six {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .seven {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .eight {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .nine {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .ten {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .eleven {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container1 .table .twelve {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  font-family: "Mulish", sans-serif;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #D8D8D8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big_image {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 45px;
}

.container2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}
.container2 img {
  width: 32%;
}